html,
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;

  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  background-color: #233067;
}

.txs-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
  width: 100%;
}

.presentation {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 20px;
  color: #233067;
}

.content {
  color: #233067;
  flex: 1;
  padding: 20px;
}

.content h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: #233067;
}

.content p {
  color: #233067;
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.download-btn {
  display: inline-block;
  background-color: #1c3148;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
}

.phone-mockup {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 500px;
}

.phone-mockup img {
  width: 100%;
  max-width: 300px;
  height: auto;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.services {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  width: 100%;
  padding: 20px;
  margin-top: 20px;
}

.service-box {
  background-color: #1c3148;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.service-box h3 {
  font-size: 1.5rem;
  margin: 10px 0;
}

.service-box p {
  font-size: 1rem;
  color: #d1e8ff;
}

.service-icon {
  font-size: 3rem;
  color: #e6e6e6;
  margin-bottom: 15px;
}
